/* remove default values*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* style for base.html */
body {
    font-family: 'Red Hat Display', serif;
    color: #082C16;
    background-color: #FBAFAF;
}

.navbar {
    height: 200px;
}

/* Footer */
.fa-brands {
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}

#copyright p {
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}

/* style for index.html*/
.about {
    background-color: white;
    font-style: italic;
}

.about h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: 800;
}

.about p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    line-height: 2;
}