{% extends "base.html" %}
{% block title %}CONTACT{% endblock %}

{% block content %}

    <header>
        <h1>Contact Us</h1>
    </header>

    <main>
    
        <section>
            <h2>Contact Information</h2>
            <p>Restaurant Name: <a href="https://www.google.com/maps?q=Restaurant+Name">Ristorante AMORE</a></p>
            <p>Address: <a href="https://www.google.com/maps?q=123+Main+Street+City+State+ZIP">123 Main Street, City, State ZIP</a></p>
            <p>Phone: <a href="tel:+11234567890">123-456-7890</a></p>
            <p>Email: <a href="mailto:info@restaurant.com">info@restaurant.com</a></p>
        </section>


{% endblock %}